/* side menu style */
body{
    background-color: black;
}
span{
    position: absolute;
    top: 45%;
    right: 1%;
}
.side-apper{
    background-color: black;
    color: white;
    position: relative;
    left: 0% !important;
    transition: .5s ease-in-out;
    z-index: 99;

}
.side-disapper{
    
    position: relative;
    left: -246.562px !important;
    transition: .5s ease-in-out;

}
.hide{
    display: none !important;
}
.links ul:hover{
    cursor: pointer;


}
/* end of side menu style */

#loading{
    position: absolute;
    top: 50%;
    right: 50%;
    color: yellow;
}

/* main style */
.card1{
    border-radius: 6px;
    overflow: hidden!important;
    cursor: pointer;


}

.card1 .overlay{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 6px;
    background: rgba(237, 241, 242, 0.6);
    transition: all .5s ease-in-out;

  }
  .card1:hover .overlay{
    transition: all .5s ease-in-out;
    top:0%;
    opacity: 1;

}

/* end main style */

/* Instructions style */
.detail{
    color: white;
}
.detail span {
    display: contents;
}
.detail h3 {
    display: block;

}
#btn {
    position: relative;
    left: 90%;
    width: fit-content;
}

#searchContainer{
    position: absolute !important;
    top: 14% !important;
    right: 10% !important;
}
.searchArea{
    position:absolute !important;
    top: 35% !important;
}